*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    --color0 : #FFFAD7;
    --color1 : #EC7272;
    --color2 : #FFF;
    --color3 : #FCDDB0;
    --color4 : #EC7272;
    --border-radius : 0.3em;
    text-decoration: none;
}
.wrapper{
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    transition: all 0.1s;
}
section {
    scroll-snap-align: start;
}
.TituloPrincipal{
    background-color: var(--color1);
    padding: 0.5em 3em;
    font-size: 2em;
    margin: 1em;
    border-radius: var(--border-radius);
    color: var(--color2);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

/*Secciones*/
.primeraSeccion{
    width: 100%;
    height: 100vh;
    background: var(--color0);
}
/**/

/*---------------------primera seccion---------------------*/

.CajaTituloPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.CajaInfoPrincipal{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    height: 70%;
    padding: 2em;
}

/*------------CajaIzquierda------------*/

.CajaDerechaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Saludos{
    background-color: var(--color3);
    color: var(--color4);
    font-size: 36px;
    padding: 0.5em 1em;
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.subTituloPrincipal{
    font-size: xx-large;
    margin: 40px 0;
}
/*------------CajaMitad------------*/

.CajaMitadPrincipal{
    display: flex;
    align-items: center;
}
.LogoPincipal{
    width: 100%;
    object-fit: cover;
    padding: 1em;
}

/*------------CajaIzquierda------------*/

.CajaIzquierdaPrincipal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.IrUniguajira{
    font-size: x-large;
    margin: 40px 0;
}
.btnIrUniguajira{
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: var(--color3);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
.btnIrUniguajira:hover{
    background-color: var(--color1);
    box-shadow: 0px 15px 20px var(--color3);
    color: #fff;
    transform: translateY(-7px);
}
.btnIrUniguajira:active{
    transform: translateY(-1px);
}
/*--footPrincipal--*/

.foot{
    display: flex;
    height: 10%;
    justify-content: center;
    align-items: flex-end;
}
.Bajar{
    padding: 20px;
    width: 70px;
    transition: all 0.3s ease 0s;
}
.Bajar:hover{
    transform: translateY(-7px);
}
.Bajar:active{
    transform: translateY(-1px);
}
/*Media Query Respoive*/
@media (max-width: 800px) {
    .TituloPrincipal{
        padding: 0.3em 0.4em;
        font-size: 1.8em;
        margin: auto;
    }
    .CajaTituloPrincipal{
        height: 10%;
    }
    .CajaInfoPrincipal{
        display: flex;
        flex-direction: column;
        height: 85%;
        justify-content: center;
        padding: 0;
    }
    .Saludos {
        font-size: 20px;
    }
    .subTituloPrincipal{
        margin: 10px;
        font-size: large;
    }
    .CajaIzquierdaPrincipal{
        margin: 10px 0;
        font-size: small;
    }
    .IrUniguajira{
        margin: 10px 0;
    }
    .foot{
        height: 5%;
    }
    .Bajar{
        width: 50px;
        padding: 10px;
    }
}