.seccionRector{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

/*-------------------Informacion Rectores-------------------*/

.cajaInformacionRectores{
    margin: auto auto;
}
.nombreRectores{
    font-size: 3em;
    padding: 10px 0;
}
.duracionRectores{
    font-size: 2em;
    padding-bottom: 15px;
}
.infoRectores{
    font-size: 1em;
    padding: 0 20% 0 0 ;
}

/*-------------------Imagen Rectores-------------------*/

.cajaImagenRector{
    margin: auto;
}
.imgRectores{
    width: 300px;
}

@media (max-width: 800px) {
    .seccionRector{
        grid-template-columns: 100%;
        padding: 0 10px;
    }
    .cajaImagenRector{
        padding: 10px;
        height: 40vh;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .nombreRectores{
        font-size: 2em;
    }
    .duracionRectores {
        font-size: 1.3em;
        padding: 0;
    }
    .infoRectores{
        font-size: 0.8em;
    }
    .imgRectores{
        width: auto;
        height: 100%;
    }
}